@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

:root{
    --fonte1:"Sedan SC", serifa;
    --fonte2: "Sedan SC", serifa;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
        
    min-width: 100vh;
    background-color: #a9a9a9;
    font-family: var(--fonte1);
}

header{
    background-color: #000;
    color: #ffff;
    text-align: center;
}

header > h1 {
    padding-top: 20px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 6vw;
}
    
header>p{
    padding-bottom: 50px;
}

header a, footer a{
    color: #ffff;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}


nav{
    padding-top: -90px;
    padding-bottom: 50px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 1.5vw;
}

section > p {
   padding-bottom: 3em;
}

section.normal {
    background-color: #ffff;
    color: #000;
}

section.imagem{
    background-color: rgb(56, 54, 54);
    color: #ffff;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem> p{
    display: inline-block;
    padding: 5px;    
    background-color: rgba(0, 0, 0, 0.314);
    text-shadow: 1px 1px 0 #000;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    padding: 20px;    
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    padding: 20px;
}

footer{
    background-color: #000;
    text-align: center;
    color: #ffff;
    padding: 5px;
}